/* ========================================================================
   CARD MODULE
   ======================================================================== */

/* --- MOBILE / OLD DEVICES ----------------------------------------------- */
.card-module{
  padding: 10px;
  &__photo-container {
  }

  &__title{
    margin: 24px;
  }

  &__text{
    margin: 12px;
  }
}


