/* ========================================================================
   FOOTER LAYOUT
   ======================================================================== */


/* --- MOBILE / OLD DEVICES ----------------------------------------------- */
.footer-layout {
  display: grid;
  grid-area: footer-layout;
  grid-template:
    "left-box " auto
    "right-box" auto
    "copyright-box" auto
    / 1fr;
  place-items: center;


  &__left-box {
    grid-area: left-box;
  }

  &__right-box {
    grid-area: right-box;
  }

  &__copyright-box {
    grid-area: copyright-box;
  }
}


/* --- DESKTOP ------------------------------------------------------------ */
@media screen and (orientation: landscape) and (width >= $media-width-transition) {
  .footer-layout {
    grid-area: footer-layout;
    grid-template:
    ". left-box right-box ." 4fr
    ". copyright-box copyright-box ." 1fr
    / 1fr $desktop-half-width $desktop-half-width 1fr;
  }
}


