/* ========================================================================
   HEADER LAYOUT
   ======================================================================== */


/* --- MOBILE / OLD DEVICES ----------------------------------------------- */
.header-layout{
  position: sticky;
  top: 0;
  z-index: 100;
  display: grid;
  grid-area: header-layout;
  grid-template:
    ". main-header pre-header ." 1fr
    / 10px auto 40px 10px;

  &__pre-header{
    display: grid;
    grid-area: pre-header;
    grid-template:
    "world-icon" 1fr
    / 1fr;
    border-width: 0;

    &__description-box{
      display: none;
      grid-area: description-box;
    }

    &__world-icon{
      grid-area: world-icon;
      place-self: center center;
    }

    &__lang-box{
      display: none;
      grid-area: lang-box;
    }
  }

  &__main-header{
    display: grid;
    grid-area: main-header;
    grid-template:
    "hamburger-icon title-box" 1fr
    / 40px 1fr;

    &__hamburger-icon {
      display: block;
      grid-area: hamburger-icon;
      place-self: center center;
      cursor: pointer;

      .bar1, .bar2, .bar3 {
        width: 40px;
        height: 4px;
        margin: 10px 0;
        background-color: #fff;
        transition: 0.4s;
      }

      /* https://www.w3schools.com/howto/howto_css_menu_icon.asp */
      &.deployed {
        .bar1 {
          transform: translate(0, 14px) rotate(-45deg);
        }

        .bar2 {
          opacity: 0;
        }

        .bar3 {
          transform: translate(0, -14px) rotate(45deg);
        }
      }
    }

    &__title-box{
      display: block;
      grid-area: title-box;
      place-self: center center;
    }

    &__menu-box{
      display: none;
      grid-area: menu-box;



      &.deployed{
        position: fixed;
        top: 60px;
        left: 0;
        z-index: 1000;
        display: block;
        width: 100%;
        height: 100%;
        background-color: black;
        border-top: white solid 1px;
      }
    }

  }
}




/* --- DESKTOP ------------------------------------------------------------ */
@media screen and (orientation: landscape) and (min-width: $media-width-transition) {
  .header-layout{
    position: sticky;
    top: 0;
    z-index: 100;
    display: grid;
    grid-area: header-layout;
    grid-template:
    "pre-header" 40px
    "main-header" 80px
    / 1fr;
    place-items: stretch stretch;

    &__pre-header{
      display: grid;
      grid-area: pre-header;
      grid-template:
      ". description-box lang-box ." 1fr
      / 1fr calc($desktop-fixed-width / 2) calc($desktop-fixed-width / 2) 1fr;
      place-items: stretch stretch;
      border-bottom-width: 1px;

      &__description-box{
        display: grid;
        grid-area: description-box;
        place-items: center start;
      }

      &__lang-box{
        display: grid;
        grid-area: lang-box;
        place-items: center end;
      }

      &__world-icon{
        display: none;
      }
    }

    &__main-header{
      display: grid;
      grid-area: main-header;
      grid-template:
      ". title-box menu-box ." 1fr
     / 1fr calc($desktop-fixed-width / 12 * 4) calc($desktop-fixed-width / 12 * 8) 1fr;
      place-items: stretch stretch;

      &__title-box{
        display: grid;
        grid-area: title-box;
        place-items: center start;
      }

      &__hamburger-icon{
        display: none;
      }

      &__menu-box{
        display: grid;
        grid-area: menu-box;
        place-items: center end;
      }
    }
  }

}
