/* ========================================================================
   MAIN LAYOUT
   ======================================================================== */

/* --- MOBILE AND OLD DEVICES first --------------------------------------- */

/* Mobile and common styles. Desktop overwrites below. */

.main-layout{
  grid-area: main-layout;
  padding: 0 10px;

  &__cards-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}




/* --- DESKTOP only ------------------------------------------------------- */

/* Overwrite mobile styles here. */

@media screen and (orientation: landscape) and (width >= $media-width-transition) {
  .main-layout{
    width: $desktop-fixed-width;
    padding: 0;
    margin: auto 0;

    &__cards-group{
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
  }
}



