/* ========================================================================
   DEFAULT THEME
   ======================================================================== */

/* --- BASE  */
body{
  background-color: #f1f1f1;
  background-image: linear-gradient(45deg, #e5e5e5 50%, #f1f1f1 50%);
  background-size: 4px 4px;
  opacity: 1;
}

/* --- LAYOUTS - HEADER  */
.header-layout{
  background-color: black;



  a{
    position: relative;
    display: block;
    padding: 0;
    color: #bbb;
    transition: color 300ms ease;
  }

  a:hover{
    color: #ffa7a7;
  }

  a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.15em;
    content: '';
    background-color: #d20000;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }

  a:hover::after,
  a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.3em, 0);
  }


  &__pre-header{
    border-bottom-style: solid;
    border-bottom-color: #bbb;

    &__description-box{
      &__description{
        font-family: 'Palatino LT Black', "Times New Roman", serif;
        font-size: 1.2rem;
        color: #bbb;
      }
    }

    &__world-icon{
      color: white;
      font-size: 40px;
    }
  }

  &__main-header{
    &__title-box{
      &__title{
        font-family: 'Modern Antiqua Bold', "Times New Roman", serif;
        font-size: 1.5rem;
        color: #fff;
      }
    }

    &__menu-box{
      font-family: 'Palatino LT Black', "Times New Roman", serif;
      font-size: 1.3rem;
    }
  }
}

/* --- LAYOUTS - MAIN  */
.main-layout{
  background-color: dimgray;
}

/* --- LAYOUTS - FOOTER  */
.footer-layout{
  background-color: lightslategray;
}

/* --- MODULES - PHOTO ---------------------------------------------------- */
.photo-module {
  &__caption {
    color: white;
    text-align: right;
    background-color: rgb(0 0 0 / 60%);
  }
}

.photo-transition img{;
  filter: grayscale(50%);
  transition: transform 1s ease, filter 1s ease;
  transform-origin: center;

  &:hover {
    filter: grayscale(0%);
    transform: scale(1.5);
  }
}

/* --- MODULES - CARD -----------------_---------------------------------- */

.card-module{
  background-color: white;

  &__title{
    margin: 24px;
  }

  &__text{
    margin: 12px;
  }
}

.discovered {
  filter: grayscale(0%);
  transition: filter 1s ease;
}
