<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{LAYOUTS.HEAD.description_txt}}">
    <meta name="keywords" content="{{LAYOUTS.HEAD.keywords_txt}}">
    <meta name="author" content="">
    <meta name="robots" content="index, follow">
    <meta name="msapplication-navbutton-color" content="black">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="black">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" type="text/css" href="../assets/styles/main.scss"><!-- do not remove this line! -->
    <title>{{header.web_title}}</title>
</head>
